.back{
	background-image:url("../Image Stocks/3D BG/Exported/150ppi/3D BG.png");
    height:auto;
	max-width:100% ;
	background-position:auto ;
	background-repeat:no-repeat ;
	background-size:cover ;
	position:relative ;
}
input[type=text],[type=email],select,[type=url],[type=tel]{
	border:none;
	border-bottom:0.13020833333333334vw solid #9966ff;
	outline:none;
	margin:0.5208333333333334vw 0;
	width:40%;
	padding:1.3020833333333333vw 0.78125vw;
	-webkit-transition: width 0.4s ease-in-out;
}
select{
	width:60%;
	padding:1.3020833333333333vw 0.78125vw;
}
.ani:focus{
	width: 70%;
}
input[type=tel]{
	width:70%;
}
input[type=button]{
	background-color:#b30000;
}
input[type=button]:hover{
	background-color: #e60000;
	opacity:0.7;
}
input[type=submit],[type=button]{
	width:10% ;
	color:white ;
	border:none ;
	border-radius:0.390625vw;
	cursor:pointer ;
}
input[type=submit]{
	background-color:#000066;
}
input[type=submit]:hover{
	background-color:#000099;
	opacity:0.7;
}
.text{
	font-family:"tisa","oswald & abel","Alternate Gothic";
	font-weight:bold;
	font-size:1.1vw;
}
.layout1{
	w3-width:59% ;
	background-color:#a366ff;
}
.a{
	height:52.734375vw; 
	width:52.734375vw;;
}
.content{
  position: absolute;
  top:2.6041666666666665vw;
  left: 8.510416666666667vw;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 27.041666666666668vw;
  margin-left:4.557291666666667vw ;
  padding: 0.6510416666666666vw;
  text-align:center ;
}
.texta{
	font-weight:bold;
	font-size:11vw;
}
input[type=submit]{
	width:6.510416666666667vw ;
	height:3.2552083333333335vw;
	padding:0.78125vw 1.3020833333333333vw ;
	margin:0.5208333333333334vw 0 ;
	color:white ;
	border:none ;
	border-radius:0.390625vw;
	cursor:pointer ;
}
.dis{
	background:none;
	outline:none ;
	border:none;
	background-color:white;
	cursor:not-allowed;
	width:70%;
}