/*--------------------------------------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*--------------------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*-------HEADINGS-------*/

h1,h2,
h3{
    font-weight: 310;
    text-transform: uppercase;
}

/*--------------------------------------------------------------------*/
/*MAIN NAV BAR*/
/*--------------------------------------------------------------------*/

nav{
    background-color: #313131;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/*.sticky{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    z-index: 9999;*/
/*}*/

nav a{
    text-decoration: none;
}

.search-nav-opt{
    margin-top: 2.1%;
    overflow: hidden;
    float: left;
    z-index: 999;
}

#dark-logo{
    overflow: hidden;
    float: left;
    font-size: 10px;
    color: #fff;
}

.search-nav{
    padding-right: 8px;
    padding-left: 5%;
/*    display: flex !important;*/
}

.cont{
/*    margin-right: 2%;*/
}

.search-nav1{
    padding-right: 4%;
}

.noti-user{
    margin-top: 2%;
    float: left;
/*    padding-left: 80%;*/
}

.noti-user li{
    display: inline-block;
}

#nav-opt,#nav-opt1,
#nav-opt2,#nav-opt3,#nav-opt4{
    padding-top: 1%;
    padding-right: 2%;
}

#nav-opt:hover,
#nav-opt:active,#nav-opt1:hover,
#nav-opt1:active,#nav-opt2:hover,
#nav-opt2:active,#nav-opt3:hover,
#nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
    color: #cccbcb;
    border-bottom: 2px solid #8e00b9;
}

.nav-opt11{
    display: inline-block;
    padding-left: 3.2%;
}

.main-nav{
    margin-top: 2.5%;
    margin-right: 2%;
    float: left;
    list-style: none;
}

.nav-opt1{
    padding-left: 8%;
}

#sign-up{
    color: #fff;
}

.sign-up{
    float: right;
    color: #fff !important;
    margin-right: 2%;
    border-radius: 200px;
    border: none;
    background-size: 110%;
    background-image: linear-gradient(to right, #6c13c6, #f717f7);
}

.sign-up:hover,
.sign-up:active{
    background-image: linear-gradient(to right, #3d0d6d, #ba16ba);
    cursor: pointer;
}

.sign-up:focus{
    outline: 0;
}

.notification-padding{
    padding-left: 16px;
}

.person-padding{
    padding-right: 0%;
}

.notification:hover,
.notification:active{
    color: #fff;
}

/*-----Mobile Nav-----*/
.mobile-nav-icon{
    float: left;
/*    position: relative;*/
    cursor: pointer;
}

.mobile-nav-icon i{
    color: #fff;
}

/*-------FAQ-------*/

.faq{
    background-color: #dddddd;
}

.faq-que{
    margin-left: 30%;
    list-style: none;
}

.faq-que li{
    margin-bottom: 2vw;
}

.faq-que li a{
    text-decoration: none;
    color: #4a4a4a;
}

.faq-que li a:hover,
.faq-que li a:active{
    color: #2a2a2a;
    font-weight: 400;
}

/*-------FORM-------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

.form-title{
    text-align: center;
    margin-bottom: 30px;
}

.form-title:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

.form-messages{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    color: #333;
}

.success{
    background-color: #3bd947;
}

.error{
    background-color: #e33232;
}

*:focus{outline: none}

.submit{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 310;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.submit:hover,
.submit:active{
    background-color: #d06e18;
    cursor: pointer;
}

/*--------------------------------------------------------------------*/
/*FOOTER*/
/*--------------------------------------------------------------------*/

footer{
    background-color: #2e024a;
}

.copyright-ft{
    color: #fff;
    padding-top: 5%;
}

#dark-logo-footer{
    overflow: hidden;
    float: left;
    font-size: 1vw;
    color: #fff;
}

.footer-opt{
    padding-top: 23%;
}

.footer-opt li{
    list-style: none;
    padding-bottom: 5%;
}

.footer-opt li a{
    text-decoration: none;
    color: #fff;
}

.social-media-ft{
    padding-top: 20%;
    float: left;
    padding-right: 2%;
}

.social-media-ft li{
    list-style: none;
    padding-bottom: 2%;
}

.social-media-ft li a{
    color: #fff;
    padding-bottom: 4%;
    text-decoration: none;
    text-align: center;
}

.smi{
    float: right;
    font-size: 1.2vw;
}

.smi li{
    padding-bottom: 12%;
}

.social-media-nm{
    padding-top: 21%;
    padding-right: 2%;
}

.social-media-nm li{
    list-style: none;
}

.social-media-nm li a{
    color: #fff;
    padding-bottom: 4%;
    text-decoration: none;
    text-align: center;
}

.smin1:hover{
    color: #274480;
}

.smin2:hover{
    color: #55acee;
}

.smin3:hover{
    color: #cd486b;
}

.address{
    color: #fff;
    padding-top: 12%;
}

.adrs{
    padding-left: 6%;
}

.contact-email{
    text-decoration: none;
    color: #fff;
}

.contact-email:hover,
.contact-emial:active{
    color: #c6c6c6;
}