/* Small Phones : from 1200 to device-width */
@media only screen and (min-width: 1201px){
    nav{
        height: 73px;
    }
    
    .logo{
/*    padding-top: 2%;*/
    width: 10%;
    height: 10%;
    }
    
    #dark-logo{
        margin-left: 3%;
        padding-top: 1%;
    }
    
    #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
        margin-bottom: 2px;
    }
    
    .search-nav{
        margin-left: 12%;
    }
    
    .main-nav{
        width: 39%;
        padding-left: 8%;
    }
    
    .search-nav-opt{
        font-size: 13px;
    }

    .sign-up{
        font-size: 13px;
        width: 7%;
        margin-top: 1.9%;
        height: 29px;
    }
    
    .mobile-nav-icon{
        display: none;
    }
    
    .mobile-nav-icon i{
        font-size: 175%;
    }
    
    .person-padding{
        padding-left: 16px;
        margin-top: 0.3%;
    }
    
    .person{
    height: 24px;
    width: 24px;
    }

    .notification{
    height: 20px;
    width: 20px;
    }
    
    /* For Footer*/
    footer{
    height: 135px;
    }
    
    .logo-footer{
    padding-top: 20%;
    height: 60%;
    width: 60%;
    }
    
    .copyright-ft{
        font-size: 10px;
    }
    
    .footer-opt{
        font-size: 14px;
    }
    
    .social-media{
        margin-top: 8%;
        margin-left: 96%;
    }
    
    .social-media-ft{
        padding-top: 24%;
        display: none;
    }
    
    .smin{
    font-size: 14px;
    }
    
    .smi{
        padding-right: 30%;
        font-size: 14px;
    }
    
    .smi li{
        padding-bottom: 8%;
    }
    
    .adrs{
    padding-left: 6%;
    }
}

/* Big tablets to 1200px(width smaller than the 1140px row) */
@media only screen and (max-width: 1202px){    
    nav{
        height: 70px;
    }
    
    .logo{
/*    padding-top: 2%;*/
    width: 10%;
    height: 10%;
    }
    
    #dark-logo{
        margin-left: 3%;
        padding-top: 1%;
    }
    
     #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
        margin-bottom: 2px;
    }
    
    .search-nav{
        margin-left: 12%;
    }
    
    .main-nav{
        width: 39.5%;
        padding-left: 4%;
    }
    
    #search{
        width: 180px;
    }
    
    .search-nav-opt{
        font-size: 13px;
    }

    .sign-up{
        font-size: 13px;
        width: 7.1%;
        margin-top: 1.9%;
        height: 29px;
    }
    
    .person-padding{
        padding-left: 16px;
        margin-top: 0.3%;
    }
    
    .mobile-nav-icon{
        display: none;
    }
    
    .mobile-nav-icon i{
        font-size: 175%;
    }
    
    .person{
    height: 24px;
    width: 24px;
    }

    .notification{
    height: 20px;
    width: 20px;
    }
    
    /* For Footer*/
    
    footer{
    height: 135px;
    }
    
    .logo-footer{
    padding-top: 20%;
    height: 60%;
    width: 60%;
    }
    
    .copyright-ft{
        font-size: 10px;
    }
    
    .footer-opt{
        font-size: 14px;
    }
    
    .social-media{
        margin-top: 8%;
        margin-left: 96%;
    }
    
    .social-media-ft{
        padding-top: 20%;
        display: none;
    }
    
    .smin{
    font-size: 14px;
    }
    
    .smi{
        padding-right: 30%;
/*        font-size: 14px;*/
    }
    
    .adrs{
    padding-left: 6%;
    }
}

/* Small tablets and big tablets : from 768px to 1023px */
@media only screen and (max-width: 1023px){
    nav{
        height: 61px;
    }
    
    .logo{
/*    padding-top: 2%;*/
    width: 10%;
    height: 10%;
    }
    
    #dark-logo{
        margin-left: 3%;
    }
    
     #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
        margin-bottom: 2px;
    }
    
    .search-nav{
        margin-left: 7%;
    }
    
    .main-nav{
        width: 41.7%;
        padding-left: 2%;
        display: run-in;
    }
    
    #search{
        width: 150px;
    }
    
    .search-nav-opt{
        font-size: 11px;
    }

    .sign-up{
        font-size: 11px;
        margin-top: 1.9%;
        height: 30px;
        width: 6.9%;
    }
    
    .person-padding{
        padding-left: 16px;
        margin-top: 0.3%;
    }
    
    .mobile-nav-icon{
        display: none;
    }
    
    .mobile-nav-icon i{
        font-size: 175%;
    }
    
    .person{
    height: 24px;
    width: 24px;
    }

    .notification{
    height: 20px;
    width: 20px;
    }
    
    /* For Footer*/
    
    footer{
    height: 135px;
    }
    
    .logo-footer{
    padding-top: 20%;
    height: 60%;
    width: 60%;
    }
    
    .copyright-ft{
        font-size: 9px;
    }
    
    .footer-opt{
        font-size: 13px;
    }
    
    .social-media{
        margin-top: 10%;
        margin-left: 95%;
    }
    
    .social-media-ft{
        padding-top: 22%;
    }
    
    .smin{
    font-size: 13px;
    }
    
    .smi{
        padding-right: 18%;
    }
    
    .adrs{
    padding-left: 6%;
    }
}

/* Small Phones and tablets : from 481px to 767px */
@media only screen and (max-width: 767px){
    nav{
        height: 55px;
    }
    
    .logo{
/*    padding-top: 2%;*/
        width: 11%;
        height: 11%;
    }
    
    #dark-logo{
        margin-left: 11%;
        position: fixed;
        z-index: 2;
        padding-top: 0%;
/*        display: none;*/
    }
    
     #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
        margin-bottom: 8px;
    }
    
    #search{
        width: 190px;
    }
    
    .search-nav{
        margin-left: 1%;
    }
    
    .main-nav{
        display: none;
        position: fixed;
        padding-top: 50px;
        width: 9%;
        height: 20%;
        margin-top: 50px;
        padding-left: 0%;
    }
    
    .main-nav li{
        display: block;
        margin-left: 0px;
    }
    
    .main-nav li a{
        margin-bottom: 8px;
    }
    
    .search-nav-opt{
        font-size: 12px;
    }

    .sch{
        position: fixed;
        overflow: hidden;
        padding-left: 31%;
        padding-top: 1.3%;
        z-index: 1; /*to bring the element to the front after adding the padding, make it's value -1 to disappear the element*/
    }
    
    .noti-user{
        position: fixed;
        padding-top: 0.8%;
        padding-left: 70%;
    }
    
    .sign-up{
        font-size: 12px;
        width: 10.2%;
        margin-top: 2.4%;
        height: 30px;
    }
    
    .person-padding{
        padding-left: 12px;
        margin-top: 0.3%;
    }
    
    .mobile-nav-icon{
        margin-top: 1.5%;
        padding-right: 10%;
        padding-left: 2%;
        display: inline-block;
        float: left;
        
    }
    
    .mobile-nav-icon i{
        position: fixed;
        padding-left: 2%;
        font-size: 175%;
        z-index: 2; /* if before z index is given as 1, then for next element put it as 2 and so on */
    }
    
    .person{
    height: 24px;
    width: 24px;
    }

    .notification{
    height: 20px;
    width: 20px;
    }
    
    /*For Footer*/
    
    footer{
    height: 120px;
    }
    
    .logo-footer{
    padding-top: 20%;
    height: 60%;
    width: 60%;
    }
    
    .copyright-ft{
    }
    
    .footer-opt{
    }
    
    .social-media{
        margin-top: 12%;
        margin-left: 94.5%;
    }
    
    .social-media-ft{
        padding-top: 22%;
        padding-left: 20%;
        display: contents;
    }
    
    #social-media-ft1{
        padding-top: 3%;
    }
    
    .smin{
    font-size: 13px;
    }
    
    .smi{
        display: none;
    }
    
    .adrs{
    padding-left: 6%;
    }
}

@media only screen and (max-width: 550px){
    nav{
        height: 53px;
    }
    
    .main-nav{
        padding-left: 2%;
    }
    
    .sch{
        padding-left: 28%;
        padding-top: 1.3%;
    }
    
    #search{
        width: 170px;
    }
    
     #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
    }
    
    .sign-up{
        font-size: 12px;
        width: 11%;
        margin-top: 2.4%;
        height: 30px;
    }
    
    .search-nav{
    }
    
    .mobile-nav-icon{
        margin-top: 7px;
    }
    
    .mobile-nav-icon i{
        font-size: 175%;
    }
    
    .person{
    height: 24px;
    width: 24px;
    }
    
    .person-padding{
        margin-top: 0.7%;
    }

    .notification{
    height: 20px;
    width: 20px;
    }
    
    /*For Footer*/
    
    .copyright-ft{
    }
    
    .footer-opt{
    }
    
    .logo-footer{
    padding-top: 20%;
    height: 60%;
    width: 60%;
    }
    
    .social-media{
        margin-top: 14%;
        margin-left: 93.5%;
    }
    
    .social-media-ft{
    }
    
    .smin{
    font-size: 14px;
    }
    
    .adrs{
    padding-left: 6%;
    }
}

/* Small Phones : from 0 to 480px */
@media only screen and (max-width: 481px){
    nav{
        height: 53px;
    }
    
    .logo{
        height: 12%;
        width: 12%;
        display: none;
    }
    
    #dark-logo{
        position: fixed;
        z-index: 2;
        padding-left: 0px;
    }
    
     #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
    }
    
    #search{
        width: 165px;
    }
    
    .sch{
        padding-top: 2%;
        padding-left: 23%;
    }
    
    .search-nav{
    }

    .mobile-nav-icon{
        padding-left: 0%;
    }
    
    .mobile-nav-icon i{
        font-size: 160%;
    }
    
    .noti-user{
        padding-top: 1.7%;
        padding-left: 65%;
    }
    
    .person{
    height: 22px;
    width: 22px;
    }

    .notification{
    height: 18px;
    width: 18px;
    }
    
    .sign-up{
        font-size: 10px;
        margin-top: 3%;
        height: 28px;
        width: 12.6%;
    }
    
    /*For Footer*/
    
    footer{
        height: 565px;
    }
    
    .logo-footer{
        padding-top: 5%;
        height: 20%;
        width: 20%;
        margin-left: 40%;
    }
    
    .copyright-ft{
        padding-left: 40%;
    }
    
    .footer-opt{
        padding-left: 40%;
    }
    
    .social-media{
        margin-top: 17%;
        margin-left: 92%;
    }
    
    .social-media-ft{
        padding-left: 45%;
    }
    
    #social-media-ft1{
        padding-top: 3%;
        padding-left: 45%;
    }
    
    .adrs{
    padding-left: 26%;
    }
}

/* Small Phones : from 0 to 480px */
@media only screen and (max-width: 400px){
    .noti-user{
        padding-top: 1.9%;
    }
    
     #nav-opt:hover,
    #nav-opt:active,#nav-opt1:hover,
    #nav-opt1:active,#nav-opt2:hover,
    #nav-opt2:active,#nav-opt3:hover,
    #nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
    }
    
    #search{
        width: 135px;
    }
    
    .sch{
        padding-left: 24%;
    }
    
    .noti-user{
        padding-left: 63%;
    }
    
    .sign-up{
        margin-top: 3.3%;
    }
    
    /*For Footer*/
    footer{
        height: 500px;
    }
}