/*--------------------------------------------------------------------*/
/*BASIC SETUP*/
/*--------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*--------------------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*--------------------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*-------HEADINGS-------*/

h1,h2,
h3{
    font-weight: 310;
    text-transform: uppercase;
}

/*--------------------------------------------------------------------*/
/*HEADER*/
/*--------------------------------------------------------------------*/

header{
    background-image: linear-gradient(rgba(59, 59, 59, 0.92),rgba(59, 59, 59, 0.92)), url(img/home-background-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*-------HEADINGS-------*/

h1,h2,
h3{
    font-weight: 310;
    text-transform: uppercase;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.aasca-heading{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*--------------------------------------------------------------------*/
/*MAIN NAV BAR*/
/*--------------------------------------------------------------------*/

nav{
    background-color: #313131;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

nav a{
    text-decoration: none;
}

.search-nav-opt{
    margin-top: 2.1%;
    overflow: hidden;
    float: left;
    z-index: 999;
}

#dark-logo{
    overflow: hidden;
    float: left;
    font-size: 10px;
    color: #fff;
}

.search-nav{
    padding-right: 8px;
}

.cont{
/*    margin-right: 2%;*/
}

.search-nav1{
    padding-right: 4%;
}

.noti-user{
    margin-top: 2%;
    float: left;
/*    padding-left: 80%;*/
}

.noti-user li{
    display: inline-block;
}

.search-nav-opt input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search1{
    padding-top: 0.5%;
    border-radius: 15px;
    border: none;
}

#search{
/*    background-color: #535353;*/
    font-size: 18px;
    padding-bottom: 7px;
    padding-left: 12px;
    height: 32px;
    background-size: 110%;
    background-image: linear-gradient(to right, #535353, #747474);
}

#search:hover,
#search:active{
    background-image: linear-gradient(to right, #363636, #5c5c5c);
}

#search:focus{   /*Used this class to remove the blue outline occured on the element when it is clicked*/
    outline: 0;
}

::placeholder{
    font-size: 16px;
    padding-left: 5px;
    text-align:left;
    color: #b5b5b5;
}

.search1 ::placeholder{
    float: left;
    text-decoration: none;
}

#nav-opt,#nav-opt1,
#nav-opt2,#nav-opt3,#nav-opt4{
    padding-top: 1%;
    padding-right: 2%;
}

#nav-opt:hover,
#nav-opt:active,#nav-opt1:hover,
#nav-opt1:active,#nav-opt2:hover,
#nav-opt2:active,#nav-opt3:hover,
#nav-opt3:active,#nav-opt4:hover,#nav-opt4:active{
    color: #cccbcb;
    border-bottom: 2px solid #8e00b9;
}

.nav-opt11{
    display: inline-block;
    padding-left: 3.2%;
}

.main-nav{
    margin-top: 2.5%;
    margin-right: 2%;
    float: left;
    list-style: none;
}

.nav-opt1{
    padding-left: 8%;
}

.sign-up{
    float: right;
    color: #fff;
    margin-right: 2%;
    border-radius: 200px;
    border: none;
    background-size: 110%;
    background-image: linear-gradient(to right, #6c13c6, #f717f7);
}

.sign-up:hover,
.sign-up:active{
    background-image: linear-gradient(to right, #3d0d6d, #ba16ba);
    cursor: pointer;
}

.sign-up:focus{
    outline: 0;
}

.notification-padding{
    padding-left: 16px;
}

.person-padding{
    padding-right: 0%;
}

.notification:hover,
.notification:active{
    color: #fff;
}

/*-----Mobile Nav-----*/
.mobile-nav-icon{
    float: left;
/*    position: relative;*/
    cursor: pointer;
}

.mobile-nav-icon i{
    color: #fff;
}

/*-------STICKY NAVIGATION------*/
/*
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 15px 0;
    color: #555;
}

.sticky .main-nav{
    margin-top: 18px;
}
*/

/*--------------------------------------------------------------------*/
/*Social-Media in Header*/
/*--------------------------------------------------------------------*/

.social-media{
    float: right;
    padding-right: 2%;
/*    position: fixed;*/
}

.social-media li{
    list-style: none;
    padding-bottom: 2%;
}

.social-media li a{
    color: #fff;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-logo-facebook:hover{
    color: #274480;
}

.ion-logo-twitter:hover{
    color: #55acee;
}

.ion-logo-googleplus:hover{
    color: #dd4b39;
}

.ion-logo-instagram:hover{
    color: #cd486b;
}

/*--------------------------------------------------------------------*/
/*Quick Buttons*/
/*--------------------------------------------------------------------*/

.quick-section{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.quick-button-1{
    text-align: center;
    
}

.qb{
    margin-left: 1%;
    margin-top: 0px;
}

.quick-button{
    height: 4vw;
    width: 15%;
    border: 2px solid #5a5a5a;
    background-color: #fff;
    outline: none;
    background-size: 167px;
}

.quick-button:hover,
.quick-button:active{
    cursor: pointer;
    background-image: linear-gradient(to right, #9c3de2, #518ed4);
}

/*--------------------------------------------------------------------*/
/*Main Content*/
/*--------------------------------------------------------------------*/

.main-content{
    background-color: #ededed;
}

.main-ct-h1{
    font-size: 3vw;
    font-weight: 550;
    color: #454545;
    padding-top: 3vw;
}

/*-----Rectangular Switch-----*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.main-switch{
    width: 100%;
    text-align: center;
    padding-bottom: 2vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch{
    width: 200px;
    height: 35px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21f339;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 92px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21f339;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21f339;
}

input:checked + .slider:before {
  -webkit-transform: translateX(99px);
  -ms-transform: translateX(99px);
  transform: translateX(99px);
}

/* Rounded sliders */
/*.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/

/*-----Main Sites Data-----*/

.fold-table{
    margin-bottom: 3.5vw !important;
}

.main-sites-data{
    margin-top: 2vw !important;
}

th{
    font-size: 1vw !important;
    text-align: left !important;
    color:#a0aeba !important;
    cursor: default !important;
    border: none !important;
    padding-bottom: 2vw !important;
    padding-top: 2vw !important;
}

tr{
    font-size: 1vw !important;
    color: #646464 !important;
}

td{
    border: none !important;
}

.tr-border{
    font-weight: 590 !important;
    height: 4vw !important;
    background-color: #aaaaaa !important;
}

.radio-input{
    display: none !important;
}

.hdn-row{
    display: none;
}

.radio-input{
    display: none !important;
}

.collapse-head{
    font-size: 1.1vw !important;
}

.number{
    width: 8vw !important;
}

.client{
    width: 13vw !important;
}

.notify-when-active{
    width: 13.2vw !important;
}

.notify{
    height: 1.5vw;
    width: 1.5vw;
}

.feedback{
    width: 5vw !important;
}

/*--------------------------------------------------------------------*/
/*Footer*/
/*--------------------------------------------------------------------*/

footer{
    background-color: #2e024a;
}

#dark-logo-footer{
    overflow: hidden;
    float: left;
    font-size: 10px;
    color: #fff;
}

.copyright-ft{
    color: #fff;
    padding-top: 5%;
}

.footer-opt{
    padding-top: 23%;
}

.footer-opt li{
    list-style: none;
    padding-bottom: 5%;
}

.footer-opt li a{
    text-decoration: none;
    color: #fff;
}

.social-media-ft{
    float: left;
    padding-right: 2%;
}

.social-media-ft li{
    list-style: none;
    padding-bottom: 2%;
}

.social-media-ft li a{
    color: #fff;
    padding-bottom: 4%;
    text-decoration: none;
    text-align: center;
}

.smi{
    float: right;
}

.social-media-nm{
/*    padding-top: 18.5%;*/
    padding-right: 2%;
}

.social-media-nm li{
    list-style: none;
}

.social-media-nm li a{
    color: #fff;
    padding-bottom: 4%;
    text-decoration: none;
    text-align: center;
}

.smin1:hover{
    color: #274480;
}

.smin2:hover{
    color: #55acee;
}

.smin3:hover{
    color: #cd486b;
}

.address{
    font-size: 13px;
    color: #fff;
}